# Google Earth Engine Service Account Credentials
# Get these from Google Cloud Console -> IAM -> Service Accounts
GEE_SERVICE_ACCOUNT=your-service-account@your-project.iam.gserviceaccount.com
GEE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
